{% extends "base.html" %}
{% load static %}

{% block body %}

    {% include "navbar.html" %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <div class="row">
                <!-- Left Column: Text Content -->
                <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                    <h1  data-aos="fade-up" style="color: rgb(106, 104, 240);">Principles of Collaboration</h1>
                    <h2 data-aos="fade-up" data-aos-delay="400">
                        <p>1. Make coding a daily habit</p>
                        <p>2. Handle other people's requests first</p>
                        <p>We create excellent output together.</p>
                    </h2>
                    <div data-aos="fade-up" data-aos-delay="800">
                        <a href="#about" class="btn-get-started scrollto">Learn More</a>
                    </div>
                </div>
                
                <!-- Right Column: Image -->
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                    <img src="{% static '_images/cop.png' %}"
                    class="img-fluid animated" alt="Collaboration Illustration" loading="lazy">
                </div>
            </div>
        </div>
    </section><!-- End Hero Section -->

    <!-- ======= Main Content ======= -->
    <main id="main">
        <!-- Future content goes here -->
    </main><!-- End #main -->

    {% include "footer.html" %}

{% endblock %}
